@import './normalize.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
}

.content-wrapper {
  padding: 0 1rem;
}

.grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
}

.map-text-marker {
  isolation: isolate;
  font-size: 1rem;
  font-family: ArialMT, Arial;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 0 2px 0 #fff;
}