{
    "parser": "@typescript-eslint/parser",
    "env": {
      "browser": true,
      "es6": true,
      "node": true,
      "jest": true
    },
    "globals": {
      "fetchMock": "readonly"
    },
    "plugins": [
      "@typescript-eslint",
      "react-hooks"
    ],
    "extends": [
      "standard",
      "standard-jsx",
      "plugin:jsx-a11y/recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "prefer-const": "error",
      "max-len": ["error", {
        "code": 160
      }],
      "no-console": "error",
      "react/jsx-wrap-multilines": ["error", {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line"}],
      "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [ "Link", "ArticleLink", "FrontLink" ],
        "specialLink": [ "hrefLeft", "hrefRight" ],
        "aspects": [ "invalidHref", "preferButton" ]
      }],
      "func-style": "error",
      "prefer-arrow-callback": "error",
      "import/newline-after-import": "error",
      "import/no-unresolved": "error",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "@typescript-eslint/no-unused-vars": "error",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-use-before-define": "off",
      "@typescript-eslint/no-var-requires": "off"
    }
  }
