.cls1 {
  fill: #76ccf4;
}

.cls1,
.cls2,
.cls3 {
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}

.cls2 {
  fill: #fff;
}

.cls3 {
  fill: #47bfef;
}


.cls4 {
  isolation: isolate;
  font-size: 1rem;
  font-family: ArialMT, Arial;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 0 2px 0 #fff;
}

@media (min-width: 768px) {
  .cls4 {
    font-size: 0.8rem;
  }
}

.cls5 {
  fill: #1d1d1b;
}